.infocontainer .information{
    padding: 0 ;
}
.colorcontainers{
    width: 100%;
    height: 40rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infocontainer .infoimage img{
    height: 16rem;
    width: 21rem;
}
.colorblock{
    /* height: 2rem; */
    margin: 5px 0;
    width: 90%;

}